{% extends "layout.html" %}
{% block body %}

    	<h1>Raspberry Pi - Alan's RPi Page v4</h1>



        <table class="table table-striped">
          <tr>
            <th>Channel</th>
            <th>Action</th>
            <th></th>
            <th></th>
            <th>Comments/Notes</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Christmas Lights</td>
            <td><a href="#"><button type="button" data-channel="1" class="btn btn-success btn-lg lights-on">On</button></a></td>
            <td><a href="#"><button type="button" data-channel="1" class="btn btn-default btn-lg lights-off">Off</button></a></td>
            <td>Channel is currently <span id = "lights-status-1">{{states[0]}}</span></td>
          </tr>

          <tr>
            <td>2</td>
            <td>Christmas Lights</td>
            <td><a href="#"><button type="button" data-channel="2" class="btn btn-success btn-lg lights-on">On</button></a></td>
            <td><a href="#"><button type="button" data-channel="2" class="btn btn-default btn-lg lights-off">Off</button></a></td>
            <td>Channel is currently <span id = "lights-status-2">{{states[1]}}</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Christmas Lights</td>
            <td><a href="#"><button type="button" data-channel="3" class="btn btn-success btn-lg lights-on">On</button></a></td>
            <td><a href="#"><button type="button" data-channel="3" class="btn btn-default btn-lg lights-off">Off</button></a></td>
            <td>Channel is currently <span id = "lights-status-3">{{states[2]}}</span></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Christmas Lights</td>
            <td><a href="#"><button type="button" data-channel="4" class="btn btn-success btn-lg lights-on">On</button></a></td>
            <td><a href="#"><button type="button" data-channel="4" class="btn btn-default btn-lg lights-off">Off</button></a></td>
            <td>Channel is currently <span id = "lights-status-4">{{states[3]}}</span></td>
          </tr>
        </table>

  <p>Channel States are: {{states}}</p>
	<p>Hostname is : {{host}}</p>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script>
    $(".lights-on").click(function(e){
      var channel = $(this).data("channel");
      console.log('About to turn channel ' + channel + ' on')
      $.get( "/lights/on/"+channel, function( data ) {
        $( "#lights-status-"+channel ).html( data.lights );
        });
    });
    </script>
  <script>
    $(".lights-off").click(function(e){
      var channel = $(this).data("channel");
      console.log('About to turn channel ' + channel + ' off')
      $.get( "/lights/off/"+channel, function( data ) {
        $( "#lights-status-"+channel ).html( data.lights );
        });
    });
    </script>      
{% endblock %}
