{% extends "layout.html" %}
{% block body %}

    	<h1>Marble Launcher Log</h1>

      <table class="table table-striped">
        <tr>
          <th>Date-Time</th>
          <th>Type</th>
          <th>Sequence</th>
          <th>Total</th>
        </tr>
        {% for marble in marbles%}
        <tr>
            <td>{{marble[0]}}</td>
            <td>{{marble[1]}} ({{marble[1]}})</td>
            <td>{{marble[3]}}</td>
            <td>{{marble[4]}}</td>                        
        </tr>
        {% endfor %}
      </table>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>  
{% endblock %}